.countries{
    display: flex;
    max-width: 990px;
    width: calc(100% - 40px);
    padding: 20px 10px;
    margin: 10px 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    ;
    .country-list{
        display: flex;
        justify-content:space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
       
    }    
    // button{
    //     display: flex;
    //     align-self: flex-start;
    //     justify-self: flex-start;
    // }
}