.country-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding: .5em;
    width: 150px;
    margin-bottom: .5em;
    color:#282C34;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px -2px rgba(255,255,255,1);

    .flag{
        height: 80px;
    }

    .name{
        font-weight: bold;
        font-size: 1em;
        margin: 0px;
    }

    .pupulation{
        font-size: .7em;
        margin: .25em 0px;
        padding: 0px;
    }

    button{
        margin-top: .25em;
        border: 1px solid #282C34;
        background-color: #282C34;
        color: #fff;
        border-radius: 3px;
        padding: .25em .5em;

        &:hover{
            border: 1px solid #282C34;
            background-color: #fff;
            color: #282C34;
            cursor: pointer;
        }
    }
}